tmp/
output/
*.suo
src/server/.settings/
doc/2017_Contacts_DO_NOT_COMMIT.xlsx
doc/CRC_RoboEvalSchedule_Feb2017-3.xlsx
doc/Video-Web-Tutorial Submissions 2016-2017.xlsx
doc/2018_Contacts.xlsx
doc/26-écoles.xlsx
doc/Video-Web-Tutorial Submissions 2017-2018.xlsx
