.triangleLeft
{
	position: absolute;
	left: 100%;
	margin-left: -100%;
	z-index: 1;
	padding-bottom: 3%;
	top: 269px;
}

.triangleRight
{
	position: absolute;
	left: 150%;
	margin-left: -100%;
	z-index: 1;
	padding-bottom: 3%;
	top: 269px;
}

.targetValue
{
	position: absolute;
	font-size: 1.5em;
	z-index: 2;
}

.targetHit
{
    z-index: 0;
    width: 128px !IMPORTANT;
    height: 128px;
    margin-left: -45px;
    margin-top: -47px;
}

.sideBLUEtargetLOW
{
	left: 15.6%;
	top: 60.5%;
	text-align: center;
	width: 40px;
}

.sideBLUEtargetMID
{
	left: 14.7%;
	top: 20.9%;
	width: 40px;
	text-align: center;
}

.sideBLUEtargetHIGH
{
	left: 6.8%;
	top: 35.9%;
	width: 40px;
	text-align: center;
}

.sideYELLOWtargetLOW
{
	left: 80.8%;
	top: 18.3%;
	width: 40px;
	text-align: center;
}

.sideYELLOWtargetMID
{
	left: 81%;
	top: 58.7%;
	width: 40px;
	text-align: center;
}

.sideYELLOWtargetHIGH
{
	left: 89.1%;
	top: 35.2%;
	width: 40px;
	text-align: center;
}

.actuatorCLOSED
{
	color: white;
}

.actuatorYELLOW
{
	color: rgb(60,60,59);
}

.actuatorBLUE
{
	color: white;
}

.playfieldBackground
{
	z-index: 0;
}

.playfield
{
	position: relative;
	display: block;
	float:left;
}

.team
{
	float:left;
	display: table;
	height: auto;
}

.blueTeam
{
	margin-right: 12px;
}

.whiteDiv
{
	width: 3px;
	background-color: white;
	overflow: auto;
	padding: 0;
}

#game-slideshow
{
	padding-top : 15px;
	margin-top : 30px;
}

.clear
{
	clear:both;
}

.active-marker
{
}

.bjqs-markers
{
	left: 0;
	right: 0;
	padding-left: 35px;
}

.bjqs-markers li
{
	width: 16px;
	height: 16px;
	margin: 0 4px 10px;
	cursor: pointer;
	list-style-image: url('../images/dotEmpty.svg');
	z-index: 0;
}


.bjqs-markers li:hover
{
	list-style-image: url('../images/dotHover.svg');
}


.active-marker
{
	list-style-image: url('../images/dotFull.svg') !important;
	z-index: 0;
}

.gameTimer
{
	font-size: 47px;
}

.gameTimerOuter
{
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}

.gameEvent
{
	font-size: 33px;
}

.gameBarNotStarted
{
	width: 580px;
    height: 16px;
}

.gameBar
{
    width: 586px;
	
    height: 16px;
}

.gameScore
{
	text-align: center;
	background-color: rgb(60,60,59);
	color: white;
}

.teamName
{
	width: 465px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: rgb(60,60,59);
}

.teamName a
{
	color: white;
	text-decoration: none;
	font-size: 19.8px;
	font-weight: normal;
	margin-top: 1px;
}

.teamName a:hover
{
	text-decoration: underline;
}

.wrapper
{
	width: 586px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	border-spacing: 0px;
}

.wrapperNotStarted
{
	width: 580px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	border-spacing: 0px;
}

.Unit
{
	position: absolute;
}

.Unit0
{
	z-index: 5;
}

.Unit1
{
	z-index: 4;
}

.Unit2
{
	z-index: 3;
}

.Unit3
{
	z-index: 2;
}

.Unit4
{
	z-index: 1;
}

.LEFTUnit0_0
{
	left: 289px;
	top: 297px;
}

.LEFTUnit0_1
{
	left: 274px;
	top: 288px;
}

.LEFTUnit0_2
{
	left: 259px;
	top: 279px;
}

.LEFTUnit0_3
{
	left: 244px;
	top: 270px;
}

.LEFTUnit0_4
{
	left: 229px;
	top: 261px;
}

.LEFTUnit0_5
{
	left: 274px;
	top: 270px;
}

/* ------ */
.LEFTUnit1_0
{
    left: 215px;
    top: 375px;
}
.LEFTUnit1_1
{
	left: 200px;
	top: 366px;
}
.LEFTUnit1_2
{
	left: 185px;
	top: 356px;
}
.LEFTUnit1_3
{
	left: 170px;
	top: 348px;
}
.LEFTUnit1_4
{
	left: 155px;
	top: 339px;
}

/* ------ */
.LEFTUnit2_0
{
	left: 366px;
	top: 375px;
}
.LEFTUnit2_1
{
	left: 351px;
	top: 366px;
}
.LEFTUnit2_2
{
	left: 336px;
	top: 357px;
}
.LEFTUnit2_3
{
	left: 321px;
	top: 348px;
}
.LEFTUnit2_4
{
	left: 306px;
	top: 339px;
}

/* ------ */
.LEFTUnit3_0
{
	left: 135px;
	top: 453px;
}
.LEFTUnit3_1
{
	left: 120px;
	top: 444px;
}
.LEFTUnit3_2
{
	left: 105px;
	top: 434px;
}
.LEFTUnit3_3
{
	left: 90px;
	top: 426px;
}
.LEFTUnit3_4
{
	left: 75px;
	top: 417px;
}

/* ------ */
.LEFTUnit4_0
{
	left: 290px;
	top: 453px;
}
.LEFTUnit4_1
{
	left: 275px;
	top: 444px;
}
.LEFTUnit4_2
{
	left: 260px;
	top: 434px;
}
.LEFTUnit4_3
{
	left: 245px;
	top: 426px;
}
.LEFTUnit4_4
{
	left: 230px;
	top: 417px;
}

/* ------ */
.LEFTUnit5_0
{
	left: 444px;
	top: 453px;
}
.LEFTUnit5_1
{
	left: 429px;
	top: 444px;
}
.LEFTUnit5_2
{
	left: 414px;
	top: 435px;
}
.LEFTUnit5_3
{
	left: 399px;
	top: 426px;
}
.LEFTUnit5_4
{
	left: 384px;
	top: 417px;
}

/* ------ */
.LEFTUnit6_0
{
	left: 57px;
	top: 531px;
}
.LEFTUnit6_1
{
	left: 42px;
	top: 522px;
}
.LEFTUnit6_2
{
	left: 27px;
	top: 512px;
}
.LEFTUnit6_3
{
	left: 12px;
	top: 504px;
}
.LEFTUnit6_4
{
	left: -3px;
	top: 495px;
}

/* ------ */
.LEFTUnit7_0
{
	left: 212px;
	top: 531px;
}
.LEFTUnit7_1
{
	left: 197px;
	top: 522px;
}
.LEFTUnit7_2
{
	left: 182px;
	top: 512px;
}
.LEFTUnit7_3
{
	left: 167px;
	top: 504px;
}
.LEFTUnit7_4
{
	left: 152px;
	top: 495px;
}
/* ------ */
.LEFTUnit8_0
{
	left: 365px;
	top: 531px;
}
.LEFTUnit8_1
{
	left: 350px;
	top: 522px;
}
.LEFTUnit8_2
{
	left: 335px;
	top: 512px;
}
.LEFTUnit8_3
{
	left: 320px;
	top: 504px;
}
.LEFTUnit8_4
{
	left: 305px;
	top: 495px;
}

/* ------ */
.LEFTUnit9_0
{
	left: 522px;
	top: 531px;
}
.LEFTUnit9_1
{
	left: 507px;
	top: 522px;
}
.LEFTUnit9_2
{
	left: 492px;
	top: 512px;
}
.LEFTUnit9_3
{
	left: 477px;
	top: 504px;
}
.LEFTUnit9_4
{
	left: 462px;
	top: 495px;
}

/* RIGHT */
.RIGHTUnit0_0
{
	left: 843px;
	top: 298px;
}

.RIGHTUnit0_1
{
	left: 858px;
	top: 289px;
}
.RIGHTUnit0_2
{
	left: 873px;
	top: 280px;
}
.RIGHTUnit0_3
{
	left: 888px;
	top: 271px;
}
.RIGHTUnit0_4
{
	left: 903px;
	top: 262px;
}


.RIGHTUnit1_0
{
	left: 767px;
	top: 375px;
}
.RIGHTUnit1_1
{
	left: 782px;
	top: 366px;
}
.RIGHTUnit1_2
{
	left: 797px;
	top: 356px;
}
.RIGHTUnit1_3
{
	left: 812px;
	top: 348px;
}
.RIGHTUnit1_4
{
	left: 827px;
	top: 339px;
}

.RIGHTUnit2_0
{
	left: 919px;
	top: 375px;
}
.RIGHTUnit2_1
{
	left: 934px;
	top: 366px;
}
.RIGHTUnit2_2
{
	left: 949px;
	top: 357px;
}
.RIGHTUnit2_3
{
	left: 964px;
	top: 349px;
}
.RIGHTUnit2_4
{
	left: 979px;
	top: 340px;
}

.RIGHTUnit3_0
{
	left: 690px;
	top: 453px;
}
.RIGHTUnit3_1
{
	left: 705px;
	top: 444px;
}
.RIGHTUnit3_2
{
	left: 720px;
	top: 435px;
}
.RIGHTUnit3_3
{
	left: 735px;
	top: 427px;
}
.RIGHTUnit3_4
{
	left: 750px;
	top: 418px;
}

.RIGHTUnit4_0
{
	left: 845px;
	top: 453px;
}
.RIGHTUnit4_0
{
	left: 845px;
	top: 453px;
}
.RIGHTUnit4_1
{
	left: 859px;
	top: 443px;
}
.RIGHTUnit4_2
{
	left: 874px;
	top: 434px;
}
.RIGHTUnit4_3
{
	left: 890px;
	top: 427px;
}
.RIGHTUnit4_4
{
	left: 905px;
	top: 418px;
}

.RIGHTUnit5_0
{
	left: 1000px;
	top: 453px;
}
.RIGHTUnit5_1
{
	left: 1015px;
	top: 444px;
}
.RIGHTUnit5_2
{
	left: 1030px;
	top: 435px;
}
.RIGHTUnit5_3
{
	left: 1045px;
	top: 427px;
}
.RIGHTUnit5_4
{
	left: 1060px;
	top: 418px;
}

.RIGHTUnit6_0
{
	left: 612px;
	top: 531px;
}
.RIGHTUnit6_1
{
	left: 627px;
	top: 522px;
}
.RIGHTUnit6_2
{
	left: 642px;
	top: 513px;
}
.RIGHTUnit6_3
{
	left: 657px;
	top: 505px;
}
.RIGHTUnit6_4
{
	left: 672px;
	top: 496px;
}

.RIGHTUnit7_0
{
	left: 767px;
	top: 531px;
}
.RIGHTUnit7_1
{
	left: 782px;
	top: 522px;
}
.RIGHTUnit7_2
{
	left: 797px;
	top: 513px;
}
.RIGHTUnit7_3
{
	left: 812px;
	top: 505px;
}
.RIGHTUnit7_4
{
	left: 827px;
	top: 496px;
}

.RIGHTUnit8_0
{
	left: 922px;
	top: 531px;
}
.RIGHTUnit8_1
{
	left: 937px;
	top: 522px;
}
.RIGHTUnit8_2
{
	left: 952px;
	top: 513px;
}
.RIGHTUnit8_3
{
	left: 967px;
	top: 505px;
}
.RIGHTUnit8_4
{
	left: 982px;
	top: 496px;
}

.RIGHTUnit9_0
{
	left: 1077px;
	top: 531px;
}
.RIGHTUnit9_1
{
	left: 1092px;
	top: 522px;
}
.RIGHTUnit9_2
{
	left: 1107px;
	top: 513px;
}
.RIGHTUnit9_3
{
	left: 1122px;
	top: 505px;
}
.RIGHTUnit9_4
{
	left: 1137px;
	top: 496px;
}