.triangleLeft
{
	position: absolute;
	left: 100%;
	margin-left: -100%;
	z-index: 1;
	padding-bottom: 3%;
	top: 269px;
}

.triangleRight
{
	position: absolute;
	left: 150%;
	margin-left: -100%;
	z-index: 1;
	padding-bottom: 3%;
	top: 269px;
}

.targetValue
{
	position: absolute;
	font-size: 1.5em;
	z-index: 2;
}

.targetHit
{
    z-index: 0;
    width: 128px !IMPORTANT;
    height: 128px;
    margin-left: -45px;
    margin-top: -47px;
}

.sideBLUEtargetLOW
{
	left: 15.6%;
	top: 60.5%;
	text-align: center;
	width: 40px;
}

.sideBLUEtargetMID
{
	left: 14.7%;
	top: 20.9%;
	width: 40px;
	text-align: center;
}

.sideBLUEtargetHIGH
{
	left: 6.8%;
	top: 35.9%;
	width: 40px;
	text-align: center;
}

.sideYELLOWtargetLOW
{
	left: 80.8%;
	top: 18.3%;
	width: 40px;
	text-align: center;
}

.sideYELLOWtargetMID
{
	left: 81%;
	top: 58.7%;
	width: 40px;
	text-align: center;
}

.sideYELLOWtargetHIGH
{
	left: 89.1%;
	top: 35.2%;
	width: 40px;
	text-align: center;
}

.actuatorCLOSED
{
	color: white;
}

.actuatorYELLOW
{
	color: rgb(60,60,59);
}

.actuatorBLUE
{
	color: white;
}

.playfieldBackground
{
	z-index: 0;
}

.playfield
{
	position: relative;
	display: block;
	float:left;
}

.team
{
	float:left;
	display: table;
	height: auto;
}

.blueTeam
{
	margin-right: 12px;
}

.whiteDiv
{
	width: 3px;
	background-color: white;
	overflow: auto;
	padding: 0;
}

#game-slideshow
{
	padding-top : 15px;
	margin-top : 30px;
}

.clear
{
	clear:both;
}

.active-marker
{
}

.bjqs-markers
{
	left: 0;
	right: 0;
	padding-left: 35px;
}

.bjqs-markers li
{
	width: 16px;
	height: 16px;
	margin: 0 4px 10px;
	
	
	
	cursor: pointer;
	
	list-style-image: url('../images/dotEmpty.svg');
}


.bjqs-markers li:hover
{
	list-style-image: url('../images/dotHover.svg');
}


.active-marker
{
	list-style-image: url('../images/dotFull.svg') !important;
}

.gameTimer
{
	font-size: 47px;
}

.gameTimerOuter
{
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}

.gameEvent
{
	font-size: 33px;
}

.gameBarNotStarted
{
	width: 580px;
    height: 16px;
}

.gameBar
{
    width: 586px;
	
    height: 16px;
}

.gameScore
{
	text-align: center;
	background-color: rgb(60,60,59);
	color: white;
}

.teamName
{
	width: 465px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: rgb(60,60,59);
}

.teamName a
{
	color: white;
	text-decoration: none;
	font-size: 19.8px;
	font-weight: normal;
	margin-top: 1px;
}

.teamName a:hover
{
	text-decoration: underline;
}

.wrapper
{
	width: 586px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	border-spacing: 0px;
}

.wrapperNotStarted
{
	width: 580px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	border-spacing: 0px;
}

.Unit
{
	position: absolute;
}

.Unit0
{
	z-index: 5;
}

.Unit1
{
	z-index: 4;
}

.Unit2
{
	z-index: 3;
}

.Unit3
{
	z-index: 2;
}

.Unit4
{
	z-index: 1;
}

.LEFTUnit0_0
{
	left: 289px;
	top: 297px;
}

.LEFTUnit0_1
{
	left: 274px;
	top: 288px;
}

.LEFTUnit0_2
{
	left: 259px;
	top: 279px;
}

.LEFTUnit0_3
{
	left: 244px;
	top: 270px;
}

.LEFTUnit0_4
{
	left: 229px;
	top: 261px;
}

.LEFTUnit0_5
{
	left: 274px;
	top: 270px;
}

/* ------ */
.LEFTUnit1_0
{
    left: 220px;
    top: 380px;
}
.LEFTUnit1_1
{
    left: 205px;
    top: 371px;
}
.LEFTUnit1_2
{
    left: 190px;
    top: 362px;
}
.LEFTUnit1_3
{
    left: 175px;
    top: 353px;
}
.LEFTUnit1_4
{
    left: 160px;
    top: 344px;
}

/* ------ */
.LEFTUnit2_0
{
	left: 372px;
	top: 380px;
}
.LEFTUnit2_1
{
	left: 357px;
	top: 371px;
}
.LEFTUnit2_2
{
	left: 342px;
	top: 362px;
}
.LEFTUnit2_3
{
	left: 327px;
	top: 353px;
}
.LEFTUnit2_4
{
	left: 312px;
	top: 344px;
}

/* ------ */
.LEFTUnit3_0
{
	left: 137px;
	top: 455px;
}

.LEFTUnit3_1
{
	left: 122px;
	top: 446px;
}
.LEFTUnit3_2
{
	left: 107px;
	top: 437px;
}
.LEFTUnit3_3
{
	left: 92px;
	top: 428px;
}
.LEFTUnit3_4
{
	left: 77px;
	top: 419px;
}

/* ------ */
.LEFTUnit4_0
{
	left: 291px;
	top: 454px;
}
.LEFTUnit4_1
{
	left: 276px;
	top: 445px;
}
.LEFTUnit4_2
{
	left: 261px;
	top: 436px;
}
.LEFTUnit4_3
{
	left: 246px;
	top: 427px;
}
.LEFTUnit4_4
{
	left: 231px;
	top: 418px;
}

/* ------ */
.LEFTUnit5_0
{
	left: 449px;
	top: 456px;
}
.LEFTUnit5_1
{
	left: 434px;
	top: 447px;
}
.LEFTUnit5_2
{
	left: 419px;
	top: 438px;
}
.LEFTUnit5_3
{
	left: 404px;
	top: 429px;
}
.LEFTUnit5_4
{
	left: 389px;
	top: 420px;
}

/* ------ */
.LEFTUnit6_0
{
	left: 61px;
	top: 532px;
}
.LEFTUnit6_1
{
	left: 46px;
	top: 523px;
}
.LEFTUnit6_2
{
	left: 31px;
	top: 514px;
}
.LEFTUnit6_3
{
	left: 16px;
	top: 505px;
}
.LEFTUnit6_4
{
	left: 1px;
	top: 496px;
}

/* ------ */
.LEFTUnit7_0
{
	left: 215px;
	top: 532px;
}
.LEFTUnit7_1
{
	left: 200px;
	top: 523px;
}
.LEFTUnit7_2
{
	left: 185px;
	top: 514px;
}
.LEFTUnit7_3
{
	left: 170px;
	top: 505px;
}
.LEFTUnit7_4
{
	left: 155px;
	top: 496px;
}

/* ------ */
.LEFTUnit8_0
{
	left: 369px;
	top: 532px;
}
.LEFTUnit8_1
{
	left: 354px;
	top: 523px;
}
.LEFTUnit8_2
{
	left: 339px;
	top: 514px;
}
.LEFTUnit8_3
{
	left: 324px;
	top: 505px;
}
.LEFTUnit8_4
{
	left: 309px;
	top: 496px;
}

/* ------ */
.LEFTUnit9_0
{
	left: 524px;
	top: 532px;
}
.LEFTUnit9_1
{
	left: 509px;
	top: 523px;
}
.LEFTUnit9_2
{
	left: 494px;
	top: 514px;
}
.LEFTUnit9_3
{
	left: 479px;
	top: 505px;
}
.LEFTUnit9_4
{
	left: 464px;
	top: 496px;
}

.RIGHTUnit0_0
{
	left: 843px;
	top: 299px;
};
}