.playfieldBackground
{
	z-index: 0;
}

.playfield
{
	position: relative;
	display: block;
	float:left;
}

.team
{
	float:left;
	display: table;
	height: auto;
}

.blueTeam
{
	margin-right: 12px;
}

.whiteDiv
{
	width: 3px;
	background-color: white;
	overflow: auto;
	padding: 0;
}

#game-slideshow
{
	padding-top : 15px;
	margin-top : 30px;
}

.clear
{
	clear:both;
}

.active-marker
{
}

.bjqs-markers
{
	left: 0;
	right: 0;
	padding-left: 35px;
}

.bjqs-markers li
{
	width: 16px;
	height: 16px;
	margin: 0 4px 10px;
	cursor: pointer;
	list-style-image: url('../images/dotEmpty.svg');
	z-index: 0;
}


.bjqs-markers li:hover
{
	list-style-image: url('../images/dotHover.svg');
}


.active-marker
{
	list-style-image: url('../images/dotFull.svg') !important;
	z-index: 0;
}

.gameTimer
{
	font-size: 47px;
}

.gameTimerOuter
{
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}

.gameEvent
{
	font-size: 33px;
}

.gameBarNotStarted
{
	width: 580px;
    height: 16px;
}

.gameBar
{
    width: 586px;
	
    height: 16px;
}

.gameBarScore
{
    width: 585px;
    height: 16px;
}

.gameScore
{
	text-align: center;
	background-color: rgb(60,60,59);
	color: white;
}

.teamName
{
	width: 465px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: rgb(60,60,59);
}

.teamName a
{
	color: white;
	text-decoration: none;
	font-size: 19.8px;
	font-weight: normal;
	margin-top: 1px;
}

.teamName a:hover
{
	text-decoration: underline;
}

.wrapper
{
	width: 586px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	border-spacing: 0px;
}

.wrapperNotStarted
{
	width: 580px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	border-spacing: 0px;
}