.playingField
{
	height: 390px;
	width: 1180px;
	background-image: url('../images/playingField.svg');
}

.score
{
	position: relative;
	width: 120px;
}

.ui-spinner
{
	width:100px;
}

.ONE_HUNDRED_BLUE
{top: -182px;Left: 30px;}

.FORTY_BLUE
{top: -202px;Left: 328px;}

.THIRTHY_BLUE
{top: -349px;left: 182px;}

.TWENTY_BIG_BLUE
{top: -243px;left: 477px;}

.TWENTY_SMALL_BLUE
{top: -264px;left: 161px;}

.TEN_TOP_BLUE
{top: -368px;left: 530px;}

.TEN_BOTTOM_BLUE
{top: -167px;left: 540px;}

.FIVE_TOP_BLUE
{top: -451px;left: 33px;}

.FIVE_BOTTOM_BLUE
{top: -220px;left: 33px;}

.ONE_HUNDRED_YELLOW
{top: -366px;left: 1080px;}

.FORTY_YELLOW
{top: -389px;left: 787px;}

.THIRTHY_YELLOW
{top: -534px;left: 935.5px;}

.TWENTY_BIG_YELLOW
{top: -432px;left: 636px;}

.TWENTY_SMALL_YELLOW
{top: -448px;left: 955px;}

.TEN_TOP_YELLOW
{top: -575px;left: 609px;}

.TEN_BOTTOM_YELLOW
{top: -373px;left: 611px;}

.FIVE_TOP_YELLOW
{top: -636px;left: 1081px;}

.FIVE_BOTTOM_YELLOW
{top: -404px;left: 1081px;}

.blueDispenser1
{top: -672px;left: 349px;}

.blueDispenser2
{top: -455px;left: 346px;}

.yellowDispenser1
{top: -711px;left: 802px;}

.yellowDispenser2
{top: -496px;left: 803px;}

.blueTeamAllowedSpools
{top: -837px;left: 347.5px;font-weight: normal;font-size: 25px;}

.yellowTeamAllowedSpools
{top: -867px;left: 802px;font-weight: normal;font-size: 25px;}

.allowedSpools
{top: -897px;left: 234px;position: relative;width: 200px;}

.playingFieldForm
{height: 500px;}

.submitField
{top: -554px;position: relative;}

.teamMultiplier
{top: -507px;left: 524px;position: relative;}}