.playingField
{
	height: 390px;
	width: 1180px;
	background-image: url('../images/playingField.svg');
}

.score
{
	position: relative;
	width: 120px;
}

.ui-spinner
{
	width:100px;
}

.ONE_HUNDRED_BLUE
{top: -185px;Left: 34px;}

.FORTY_BLUE
{top: -208px;Left: 330px;}

.THIRTHY_BLUE
{top: -358px;left: 182px;}

.TWENTY_BIG_BLUE
{top: -256px;left: 478px;}

.TWENTY_SMALL_BLUE
{top: -280px;left: 164px;}

.TEN_TOP_BLUE
{top: -391px;left: 536px;}

.TEN_BOTTOM_BLUE
{top: -186px;left: 540px;}

.FIVE_TOP_BLUE
{top: -477px;left: 37px;}

.FIVE_BOTTOM_BLUE
{top: -250px;left: 37px;}

.ONE_HUNDRED_YELLOW
{top: -400px;left: 1083px;}

.FORTY_YELLOW
{top: -426px;left: 792px;}

.THIRTHY_YELLOW
{top: -575px;left: 941.5px;}

.TWENTY_BIG_YELLOW
{top: -476px;left: 642px;}

.TWENTY_SMALL_YELLOW
{top: -496px;left: 962px;}

.TEN_TOP_YELLOW
{top: -604px;left: 604px;}

.TEN_BOTTOM_YELLOW
{top: -412px;left: 611px;}

.FIVE_TOP_YELLOW
{top: -693px;left: 1083px;}

.FIVE_BOTTOM_YELLOW
{top: -466px;left: 1084px;}

.blueDispenser1
{top: -736px;left: 349px;}

.blueDispenser2
{top: -524px;left: 346px;}

.yellowDispenser1
{top: -785px;left: 802px;}

.yellowDispenser2
{top: -573px;left: 807px;}

.blueTeamAllowedSpools
{top: -919px;left: 347.5px;font-weight: normal;font-size: 25px;}

.yellowTeamAllowedSpools
{top: -953px;left: 802px;font-weight: normal;font-size: 25px;}

.allowedSpools
{top: -897px;left: 234px;position: relative;width: 200px;}

.playingFieldForm
{height: 500px;}

.submitField
{top: -554px;position: relative;}

.teamMultiplier
{top: -507px;left: 524px;position: relative;}}