.playingField
{
	height: 390px;
	width: 1180px;
	background-image: url('../images/playingField.svg');
}

.score
{
	position: relative;
	width: 120px;
}

h1
{
	padding-bottom: 10px;
    padding-top: 10px;
}

td
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ui-spinner
{
	width:100px;
}

.ONE_HUNDRED_BLUE
{top: -185px;Left: 34px;}

.FORTY_BLUE
{top: -203px;Left: 332px;}

.THIRTHY_BLUE
{top: -351px;left: 186px;}

.TWENTY_BIG_BLUE
{top: -246px;left: 478px;}

.TWENTY_SMALL_BLUE
{top: -267px;left: 164px;}

.TEN_TOP_BLUE
{top: -391px;left: 536px;}

.TEN_BOTTOM_BLUE
{top: -186px;left: 540px;}

.FIVE_TOP_BLUE
{top: -458px;left: 37px;}

.FIVE_BOTTOM_BLUE
{top: -228px;left: 37px;}

.ONE_HUNDRED_YELLOW
{top: -375px;left: 1083px;}

.FORTY_YELLOW
{top: -399px;left: 792px;}

.THIRTHY_YELLOW
{top: -545px;left: 941.5px;}

.TWENTY_BIG_YELLOW
{top: -445px;left: 642px;}

.TWENTY_SMALL_YELLOW
{top: -462px;left: 962px;}

.TEN_TOP_YELLOW
{top: -586px;left: 604px;}

.TEN_BOTTOM_YELLOW
{top: -382px;left: 611px;}

.FIVE_TOP_YELLOW
{top: -651px;left: 1083px;}

.FIVE_BOTTOM_YELLOW
{top: -421px;left: 1084px;}

.blueDispenser1
{top: -689px;left: 349px;}

.blueDispenser2
{top: -474px;left: 346px;}

.yellowDispenser1
{top: -732px;left: 802px;}

.yellowDispenser2
{top: -517px;left: 807px;}

.blueTeamAllowedSpools
{top: -857px;left: 347.5px;font-weight: normal;font-size: 25px;}

.yellowTeamAllowedSpools
{top: -885px;left: 802px;font-weight: normal;font-size: 25px;}

.allowedSpools
{top: -926px;left: 234px;position: relative;width: 200px;}

.playingFieldForm
{height: 560px;}

.submitField
{top: -581px;position: relative;}

.teamMultiplier
{top: -516px;left: 510px;position: relative;}}}