html, body
{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.clear
{
	clear: both;
}

.grayColor
{
	color: rgb(64,64,65);
}

.grayBackgroundColor
{
	background-color: rgb(64,64,65);
}

.yellowBackgroundColor
{
	background-color: rgb(255,221,0)
}

.blueBackgroundColor
{
	background-color: rgb(0,113,187)
}

.center
{
	text-align: center;
}

/* header */
.header
{
	text-align: center;
}

.headerRubban
{
	padding-top:	10px;
	padding-bottom: 10px;
}

.headerLogo
{
	padding-top: 20px;
}

.headerLink
{
    color: white;
	
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

.headerLink:hover
{
	text-decoration: underline;
}

table
{
	border-spacing: 7px;
}

td
{
	background-color: rgb(231,231,231);
	color: rgb(64,64,65);
	vertical-align: middle;
}

td a
{
	color: rgb(64,64,65);
    text-decoration: none;
}

td a:hover
{
	text-decoration: underline;
}

th
{
	color: white;
	background-color: rgb(64,64,65);
	text-align: center;
}

/* Schedule */
.scheduleGame
{
	font-size: 1.5em;
	font-weight: bold;
}

.scheduleRound, .scheduleRoundTd
{
	width: 50px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: rgb(60,60,59);
	color: white;
	font-size: 22px;
}

.scheduleRound
{
	transform:rotate(-90deg);
}

.schedulePointsStr
{
	font-size: 1.5em;
}

.schedulePoints
{
	font-size: 2em;
	font-weight: bold;
}

.scheduleNone
{
	background-color: white;
}

.scheduleColor
{
	width: 10px;
	float: left;
	height: 100%;
	overflow: auto;
}

.scheduleSchool
{
	float: left;
	position: relative;
	vertical-align: middle;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}