html
{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;	
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
}

h1
{
	text-align: center;
	font-size: 52px;
}

table
{
	border-spacing: 7px;
	margin-left: auto;      margin-right: auto;
	overflow: auto;
	padding-bottom: 35px;
}

td
{
	background-color: rgb(231,231,231);
	color: rgb(60,60,59);
	vertical-align: middle;
}

td a
{
	color: rgb(60,60,59);
    text-decoration: none;
}

td a:hover
{
	text-decoration: underline;
}

th
{
	color: white;
	background-color: rgb(60,60,59);
	text-align: center;
}

ul 
{
  list-style-type: none;
  margin:0;
  padding:10px 0;
}

ul li 
{
  float: left;
  list-style-type: none;
  margin: 0 6px;
}

.pageBackground
{
	height: 100%;
	font-family: 'Open Sans';
}

.clear
{
	clear: both;
}

.grayColor
{
	color: rgb(60,60,59);
}

.whiteBackgroundColor
{
	background-color: white;
}

.grayBackgroundColor
{
	background-color: rgb(60,60,59);
}

.yellowBackgroundColor
{
	background-color: rgb(255,221,0)
}

.blueBackgroundColor
{
	background-color: rgb(0,113,187)
}

.center
{
	text-align: center;
}

.bar
{
	height: 2px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

/* header */
.header
{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.headerRubban
{
	padding-top:	10px;
	padding-bottom: 10px;
}

.headerRubban a
{
    color: white;
	
    text-decoration: none;
    font-size: 27px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: lighter;
}

.headerRubban a:hover
{
	text-decoration: underline;
}

.headerLogo
{
	padding-top: 20px;
	height: 185px;
	margin-bottom: 20px;
}

.headerFacebook
{
    position: absolute;
    right: 70px;
    top: 10px;
}

.headerInstagram
{
    position: absolute;   
    right: 0px;
    top: 10px;
}

/* footer */
.footer
{
	height: 190px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.footer a
{
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.footer a:hover
{
	text-decoration: underline;
}

.footerFred
{
	float: right;
	padding-top: 80px;
	padding-right: 150px;
}

.footerFred a
{
	float: right;
}

.footerLinks
{
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
}

.footerGithub
{
	height: 44px;
	width: 44px;
	padding-right:12px;
}


/* Schedule */
.scheduleGame
{
	font-size: 1.5em;
	font-weight: bold;
}

.scheduleRound, .scheduleRoundTd
{
	width: 50px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: rgb(60,60,59);
	color: white;
	font-size: 22px;
}

.scheduleRound
{
	transform:rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari, Opera */
}

.schedulePointsStr
{
	font-size: 1.5em;
}

.scheduleSchoolDiv
{
    vertical-align: middle;
	
    width: 310px;
    height: 32px;
}

.scheduleSchoolText
{
    margin-top: 7px;
	
    position: absolute;
    padding-left: 10px;
    font-size: 14px;
}

.scheduleSchoolInner
{
    width: 32px;
	
    float: left;
    text-align: center;
}

.schedulePoints
{
	font-size: 2em;
	font-weight: bold;
}

.scheduleGameNumber
{
	width: 210px;
	min-width: 210px;
}

.scheduleTeam
{
	width: 340px;
	min-width:340px;
}

.scheduleScore
{
	width: 70px;
	min-width:70px;
}

.scheduleColor
{
	width: 10px;
	float: left;
	height: 100%;
	overflow: auto;
}

.scheduleSchool
{
	float: left;
	position: relative;
	vertical-align: middle;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Ranking */

.rank
{
	border-spacing: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.rank th
{
    margin-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: lighter;
    padding-top: 6px;
    padding-bottom: 6px;
}

.rank td
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.rankAlignLeft
{
	padding-left: 7px;
	padding-right: 7px;
	padding-right: 20px;
}

/* School */
.schoolScore
{
	width: 140px;
}

.schoolTable
{
    margin: 0;
}

.schoolCompetition
{
	width: 450px;
}

.schoolH1
{    
}

.schoolLogo
{
    height: 145px;
	    
    float: right;
    position: relative;
    left: -50%;
}

.schoolLogo img
{
    margin-top: 40px;
    
    margin-right: 20px;
}

.schoolLogoChild
{
    position: relative;
	
    left: 50%;
}

.schoolBar
{
    margin-top: 145px;
	
}